@model DoAnCuoiKiNhom3BanDienThoaiDiDong_Admin.Models.CartDetail

<form asp-action="@ViewData["Action"]" method="post">
    <div class="form-group">
        <label for="ProductName">Tên Sản Phẩm</label>
        <input asp-for="ProductName" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Quantity">Số Lượng</label>
        <input asp-for="Quantity" class="form-control" />
    </div>
    <div class="form-group">
        <label for="TotalPrice">Tổng Giá</label>
        <input asp-for="TotalPrice" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Lưu</button>
</form>
