@model DoAnCuoiKiNhom3BanDienThoaiDiDong_API.DTOs.OrderDetail

<form asp-action="@ViewData["Action"]" method="post">
    <div class="form-group">
        <label for="OrderId">ID Đơn Hàng</label>
        <input asp-for="OrderId" class="form-control" />
    </div>
    <div class="form-group">
        <label for="ProductId">ID Sản Phẩm</label>
        <input asp-for="ProductId" class="form-control" />
    </div>
    <div class="form-group">
        <label for="ProductPrice">Giá Sản Phẩm</label>
        <input asp-for="ProductPrice" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Quantity">Số Lượng</label>
        <input asp-for="Quantity" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Lưu</button>
</form>
