@model DoAnCuoiKiNhom3BanDienThoaiDiDong_Admin.Models.Blog

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Content"></label>
        <input asp-for="Content" class="form-control" />
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImageUrl">Image 1</label>
        <input asp-for="ImageUrl" class="form-control" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Category"></label>
        <textarea asp-for="Category" class="form-control"></textarea>
        <span asp-validation-for="Category" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Lưu</button>
</form>
