@model DoAnCuoiKiNhom3BanDienThoaiDiDong_Admin.Models.RegistrationModel

<div class="container">
    <h1 class="text-center">Đăng Ký</h1>
    <form method="Post" class="box-shadow p-4">
        <div class="mb-3">
            <label class="form-label">Username:</label>
            <input type="text" asp-for="Username" class="form-control" placeholder="Nhập tên đăng nhập" />
        </div>
        <div class="mb-3">
            <label class="form-label">Email:</label>
            <input type="email" asp-for="Email" class="form-control" placeholder="Nhập email" />
        </div>
        <div class="mb-3">
            <label class="form-label">Phone Number:</label>
            <input type="text" asp-for="PhoneNumber" class="form-control" placeholder="Nhập số điện thoại" />
        </div>
        <div class="mb-3">
            <label class="form-label">Initials:</label>
            <input type="text" asp-for="Initials" class="form-control" placeholder="Nhập chữ viết tắt" />
        </div>
        <div class="mb-3">
            <label class="form-label">Password:</label>
            <input type="password" asp-for="Password" class="form-control" placeholder="Nhập mật khẩu" />
        </div>
        <div class="mb-3">
            <label class="form-label">Role (Optional):</label>
            <input type="text" asp-for="Role" class="form-control" placeholder="Nhập vai trò (nếu có)" />
        </div>
        <button type="submit" class="btn btn-primary w-100">Đăng Ký</button>
    </form>
</div>

<hr class="border-top my-4">