@model DoAnCuoiKiNhom3BanDienThoaiDiDong_Admin.Models.Category

<h2>Chi Tiết Danh Mục</h2>
<p><strong>Tên:</strong> @Model.Name</p>
<p><strong>Mô Tả:</strong> @Model.Description</p>
<a asp-action="Index" class="btn btn-primary">Quay lại</a>
